/* interactive parts of site */

.hovering{
	animation-name: hovering;
	-webkit-animation-name: hovering;

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes hovering {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(5%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes hovering {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(5%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.tiltRight{
	animation-name: tiltRight;
	-webkit-animation-name: tiltRight;

	animation-duration: 4s;	
	-webkit-animation-duration: 4s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tiltRight {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(12deg);
	}
	100% {
		transform: rotate(4deg);	
	}							
}

@-webkit-keyframes tiltRight {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(12deg);
	}
	100% {
		transform: rotate(4deg);	
	}						
}


.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(0.6);	
	}
	80% {
		transform: scale(0.8);
		opacity: 0.6;
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(0.6);
	}
	80% {
		-webkit-transform: scale(0.8);
		opacity: 0.6;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
